<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="../img/number1.png" alt="" width="140" height="140">
            <h2>{{'MAR_CREATE'|translate}}</h2>
            <p>{{'MAR_CREATE_P'|translate}}</p>
            <p><a class="btn btn-default" ng-click="scrollTo('myev_create')"  role="button">{{'VIEW_DETAILS'|translate}} &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="../img/number2.png" alt="Generic placeholder image" width="140" height="140">
            <h2>{{'MAR_SHARE'|translate}}</h2>
            <p>{{'MAR_SHARE_P'|translate}}</p>
            <p><a class="btn btn-default" ng-click="scrollTo('myev_share')" role="button">{{'VIEW_DETAILS'|translate}} &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="../img/number3.png" alt="Generic placeholder image" width="140" height="140">
            <h2>{{'MAR_THANK'|translate}}</h2>
            <p>{{'MAR_THANK_P'|translate}}</p>
            <p><a class="btn btn-default" ng-click="scrollTo('myev_thank')" role="button">{{'VIEW_DETAILS'|translate}} &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featurette-divider">

    <header class="header_partner">
        <h2 class="text-large">{{'PARTNERS'|translate}}</h2>
    </header>


    <section class="partner-list">

        <div  class="partner-space">
            <div class="poster-card">
                <a href="#" class="partner-link">
                    <div class="poster-card__header">
                        <div class="poster-card__image">
                        </div>
                        <span class="poster-card__label"> MyMMs </span>
                    </div>

                </a>

            </div>
        </div>

        <div  class="partner-space">
            <div class="poster-card">
                <a href="#" class="partner-link">
                    <div class="poster-card__header">
                        <div class="poster-card__image">
                        </div>
                        <span class="poster-card__label"> Robes de mariées </span>
                    </div>

                </a>

            </div>
        </div>

        <div  class="partner-space">
            <div class="poster-card">
                <a href="#" class="partner-link">
                    <div class="poster-card__header">
                        <div class="poster-card__image">
                        </div>
                        <span class="poster-card__label"> Au temps de roses </span>
                    </div>

                </a>

            </div>
        </div>


    </section>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div id ="myev_create" class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{'FEAT_CREATE'|translate}}<span class="text-muted">{{'FEAT_CREATE_SP'|translate}}</span></h2>
            <p class="lead">{{'FEAT_CREATE_P'|translate}}</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../img/marketing1.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div id ="myev_share" class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">{{'FEAT_SHARE'|translate}} <span class="text-muted">{{'FEAT_SHARE_SP'|translate}}</span></h2>
            <p class="lead">{{'FEAT_SHARE_P'|translate}}</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block"  src="../img/marketing2.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div id ="myev_thank" class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{'FEAT_THANK'|translate}}<span class="text-muted">{{'FEAT_THANK_SP'|translate}}</span></h2>
            <p class="lead">{{'FEAT_THANK_P'|translate}}</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../img/marketing3.jpg" alt="Generic placeholder image">
        </div>
    </div>
    <!--data-src="holder.js/500x500/auto"-->
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
