<div class="social">
    <h4>{{'CONNECT_WITH'|translate}}</h4>
    <ul>
        <li>
            <a href="" class="facebook" ng-click="">
                <span class="fa fa-facebook"></span>
            </a>
        </li>
        <!--<li>
            <a href="" class="twitter">
                <span class="fa fa-twitter"></span>
            </a>
        </li>-->
        <li>
            <a style="cursor: pointer;" class="google-plus" ng-click="socialLogIn('google')">
                <span class="fa fa-google-plus"></span>
            </a>
        </li>
    </ul>
</div>