<div class="input-field">
    <label for="email">{{'E-MAIL'|translate}}</label>
    <input type="email" name="email" required="email" id="email"/>
    <label for="password">{{'PASSWORD'|translate}}</label>
    <input type="password" name="password" required id="password"/>
    <label for="login">{{'LOGIN'|translate}}</label>
    <input type="text" name="login" required="login" id="login"/>
    <input type="submit" value="{{'SIGN_UP'|translate}}" />
    <p class="text-p">Already have an account? <a href="#/login">{{'SIGN_IN'|translate}}</a></p>
</div>